/**
 * CH01 - Content Setup
 * CH02 - Global Style Changes
 * CH03 - Animations
**/

/* -------------------------------------------------*/
/* ---------->>> CH01 - CONTENT SETUP <<<-----------*/
/* -------------------------------------------------*/

/* Title card */
#intro {
    position: absolute;
    color: black;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    text-align: justify;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
}

#intro:after {
    position: absolute;
    color: black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
}

#intro-content {
    position: absolute;
    top: 100%;
    animation: scroll 145s linear 0.5s 1;
    color: yellow;
    text-align: center;
}

#intro-title {
    font-size: 2em;
}

/* Start game */
#rick {
    position: absolute;
    height: 710px;
    left: -90px;
    bottom: -240px;
}

#start {
    position: absolute;
    color: white;
    font-size: 9em;
    right: 210px;
    bottom: 83px;
}

#intro-wrapper {
    -webkit-animation-delay: 14s;
    animation-delay: 14s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

#start-game {
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

/* --------------------------------------------------------*/
/* ---------->>> CH02 - GLOBAL STYLE CHANGES <<<-----------*/
/* --------------------------------------------------------*/

a:link, a:visited {
    color: yellow;
}

a:active, a:hover {
    color: #f56363;
}

/* ----------------------------------------------*/
/* ---------->>> CH03 - ANIMATIONS <<<-----------*/
/* ----------------------------------------------*/

@keyframes scroll {
    0% {
        top: 100%;
    }

    100% {
        top: -170%;
    }
}
