/* Header Styles */

h1 {
    font-family: monospace;
    color: black;
}

h2 {
    font-family: monospace;
    color: black;
}

h3 {
    color: black;
    font-family: monospace;
}

body {
    background-color: beige;
}
