/**
 * CH01 - Resets
 * CH02 - Basic Styling
 * CH03 - Global Content
 * CH04 - Helpers
 * CH05 - Animations
**/



/* -----------------------------------------*/
/* ---------->>> CH01 - RESET <<<-----------*/
/* -----------------------------------------*/
html,
head,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
header,
section,
article,
footer,
audio {
  bottom: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* Reset HTML-5 display for older browsers */
article,
footer,
header,
section {
  display: block;
}



/* -------------------------------------------------*/
/* ---------->>> CH02 - BASIC STYLING <<<-----------*/
/* -------------------------------------------------*/
html {
  width: 100%;
  height: 100%;
}

body {
  height: auto;
  font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans, serif;
  font-size: 13px;
  color: black;
  background-color: #000;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: white;
}

a:active,
a:hover {
  color: #f56363;
}



/* --------------------------------------------------*/
/* ---------->>> CH03 - GLOBAL CONTENT <<<-----------*/
/* --------------------------------------------------*/
.container {
  position: relative;
  overflow: hidden;
  width: 978px;
  height: 600px;
  margin: 50px auto;
  background-color: #000;
}

.container-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.iphone {
  position: absolute;
  left: 505px;
  width: 100%;
}
.iphone img {
  width: 70%;
}
.iphone .text-box {
  position: absolute;
  top: 181px;
  left: 245px;
  width: 205px;
  height: 10px;
  font-size: 13px;
  color: white;
}
.iphone .text-box p {
  position: relative;
}

/* -------------------------------------------*/
/* ---------->>> CH04 - Helpers <<<-----------*/
/* -------------------------------------------*/
.fade-in {
  -webkit-animation: fadeIn 2s linear 1s 1 normal forwards;
          animation: fadeIn 2s linear 1s 1 normal forwards;
}

.fade-out {
  -webkit-animation: fadeOut 2s linear 1s 1 normal forwards;
          animation: fadeOut 2s linear 1s 1 normal forwards;
}

.fade-in-out {
  -webkit-animation: fadeIn 2s linear 0s 1 normal forwards, fadeOut 2s linear 3s 1 normal forwards;
          animation: fadeIn 2s linear 0s 1 normal forwards, fadeOut 2s linear 3s 1 normal forwards;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.slide-phone {
  -webkit-animation: slidePhoneUp 3s linear 1s 1 normal forwards, slidePhoneDown 3s linear 7s 1 normal forwards;
          animation: slidePhoneUp 3s linear 1s 1 normal forwards, slidePhoneDown 3s linear 7s 1 normal forwards;
}

.slide-phone-down {
  -webkit-animation: slidePhoneDown 3s linear 2s 1 normal forwards;
          animation: slidePhoneDown 3s linear 2s 1 normal forwards;
}

.slide-phone-up {
  -webkit-animation: slidePhoneUp 3s linear 1s 1 normal forwards;
          animation: slidePhoneUp 3s linear 1s 1 normal forwards;
}

.hide-phone {
  top: 545px;
}

.show-phone {
  top: 210px;
}



/* ----------------------------------------------*/
/* ---------->>> CH04 - Animations <<<-----------*/
/* ----------------------------------------------*/

@-webkit-keyframes slidePhoneUp {
  0% {
  }
  100% {
    top: 210px;
  }
}

@keyframes slidePhoneUp {
  0% {
  }
  100% {
    top: 210px;
  }
}

/* --------------------------------------- */

@-webkit-keyframes slidePhoneDown {
  0% {
    top: 210px;
  }
  100% {
    top: 545px;
  }
}

@keyframes slidePhoneDown {
  0% {
    top: 210px;
  }
  100% {
    top: 545px;
  }
}

/* --------------------------------------- */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* --------------------------------------- */

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
