/**
 * CH01 - Global Changes
 * CH02 - Basic Styling
**/

/* --------------------------------------------------*/
/* ---------->>> CH01 - GLOBAL CHANGES <<<-----------*/
/* --------------------------------------------------*/

#container {
    background: radial-gradient(circle, #0000CD, #8B4513);
}

a {
    position: absolute;
    height: 180px;
    left: 250px;
}


/* -------------------------------------------------*/
/* ---------->>> CH02 - BASIC STYLING <<<-----------*/
/* -------------------------------------------------*/
p {
    position: absolute;
    color: beige;
    height: 260px;
    font-size: 4em;
    font-family: cursive;
    left: 10px;
}

#dancerick {
    position: absolute;
    height: 400px;
    width: 500px;
    right: -20px;
}

#winner {
    -webkit-animation: blink normal 2s infinite ease-in-out;
    animation: blink normal 2s infinite ease-in-out;
}


/* ----------------------------------------------*/
/* ---------->>> CH03 - ANIMATIONS <<<-----------*/
/* ----------------------------------------------*/

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
