#bg {
    width: 100%;
}

#rick {
    position: absolute;
    height: 400px;
    bottom: 0px;
    left: 0px;
    animation: rick 4s ease 0s 1 normal forwards, 3s ease 7s normal forwards;

}

#vakthund {
    position: absolute;
    height: 300px;
    left: 0;
    bottom: 0;
    padding-right: 370px;

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}

#snakkeboble {
    position: absolute;
    height: 80px;
    width: 300px;
    left: 290px;
    top: 200px;
    padding-top: 55px;
    padding-left: 20px;
    background-color: #fff;

    -webkit-border-radius: 45%;
    border-radius: 60%;

    -webkit-border-bottom-left-radius: 1%;
    border-bottom-left-radius: 1%;
    border: 2px solid black;
    opacity: 0;
    -webkit-animation: fadeIn 1s linear 2s 1 normal forwards;
    animation: fadeIn 1s linear 2s 1 normal forwards;

}

#alternativer {

    position: absolute;
    height: 80px;
    width: 300px;
    left: 290px;
    top: 200px;
    padding-top: 90px;
    padding-left: 20px;
    color: black;

    opacity: 0;
    -webkit-animation: fadeIn 1s linear 2s 1 normal forwards;
    animation: fadeIn 1s linear 2s 1 normal forwards;

}

a,
a:link,
a:visited {
    text-decoration: none;
    color: black;
}

a:active,
a:hover {
    color: #f56363;
}

@keyframes rick {
    0% {
        left: -20px;
    }
    5% {
        transform: rotate(10deg);
    }
    85% {
        transform: rotate(5deg);
    }
    95% {
        transform: rotate(0deg);
    }
    100% {
        left: 160px;
    }
}