/**
 * CH01 - Scene Setup
 * CH02 - Animations
**/

/* -----------------------------------------------*/
/* ---------->>> CH01 - SCENE SETUP <<<-----------*/
/* -----------------------------------------------*/

#bg {
    width: 100%;
}
#segway {
    position: absolute;
    height: 200px;
    bottom: 0;
    left: 160px;
    -webkit-animation: segway 4s ease 0s 1 normal forwards, 3s ease 7s normal forwards;
    animation: segway 4s ease 0s 1 normal forwards, 3s ease 7s normal forwards;
}

#rick {
    position: absolute;
    height: 400px;
    bottom: -20px;
    left: 160px;
    transform: rotate(0deg);
    -webkit-animation: rickRun 2s linear 1.7s 1 normal forwards;
    animation: rickRun 2s linear 1.7s 1 normal forwards;
}

#vakthund {
    position: absolute;
    height: 300px;
    left: 0;
    bottom: 0;
    padding-right: 370px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#bang {
    position: absolute;
    height: 350px;
    left: 300px;
    bottom: -30px;
    opacity: 0;
    -webkit-animation: fadeIn 1s linear 2s 1 normal forwards;
    animation: fadeIn 1s linear 2s 1 normal forwards;
}

/* ----------------------------------------------*/
/* ---------->>> CH02 - ANIMATIONS <<<-----------*/
/* ----------------------------------------------*/
@-webkit-keyframes segway {
    0% {
        left: 160px;
    }
    5% {
        transform: rotate(10deg);
    }
    85% {
        transform: rotate(5deg);
    }
    95% {
        transform: rotate(0deg);
    }
    100% {
        left: 500px;
    }
}

@keyframes segway {
    0% {
        left: 160px;
    }
    5% {
        transform: rotate(10deg);
    }
    85% {
        transform: rotate(5deg);
    }
    95% {
        transform: rotate(0deg);
    }
    100% {
        left: 500px;
    }
}

@keyframes rickRun {
    10% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(10deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    70% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-10deg);
    }
    90% {
        transform: rotate(10deg);
    }
    100% {
        left: 970px;
    }
}