#tech{
    position: absolute;
    width: 110%;
}

#brick{
    position: absolute;
    width: 20%;
    animation: moveRight 3s ease 0s 1 normal forwards;
}

#boss{
    position: absolute;
    width: 40%;
    left: 350px;
    top: -20px;
}

@keyframes moveRight {
    from {left: -100px;}
    to {left: 100px;}
}

#bazooka{
    position: absolute;
    width: 20%;
    left: 700px;
    top: 450px;
    
}

#kjeks{
    position: absolute;
    width: 10%;
    left: 450px;
    top: 500px;
    
    
}