/**
 * CH01 - Scene Setup
 * CH02 - Game Over Setup
 * CH03 - Animations
**/

/* -----------------------------------------------*/
/* ---------->>> CH01 - SCENE SETUP <<<-----------*/
/* -----------------------------------------------*/

#tesla {
    position: absolute;
    height: 59px;
    top: 170px;
    left: -135px;
    transform: rotate(7deg);
    -webkit-animation: moveRight 3s linear 0s 1 normal forwards;
    animation: moveRight 3s linear 0s 1 normal forwards;
}

/* ---------------------------------------------------*/
/* ---------->>> CH02 - GAME OVER SETUP <<<-----------*/
/* ---------------------------------------------------*/

.fade-in {
    animation-delay: 3.5s;
    animation-duration: 0.5s;
}

/* ----------------------------------------------*/
/* ---------->>> CH03 - ANIMATIONS <<<-----------*/
/* ----------------------------------------------*/

@-webkit-keyframes moveRight {
    70% {
        top: 190px;
        left: 355px;
        transform: rotate(1deg);
    }
    80% {
        top: 174px;
        left: 433px;
        transform: rotate(13deg);
    }
    82% {
        top: 184px;
        left: 446px;
        transform: rotate(16deg);
    }
    85% {
        transform: rotate(50deg);
    }
    100% {
        top: 630px;
        left: 465px;
        transform: rotate(67deg);
    }
}

@keyframes moveRight {
    70% {
        top: 190px;
        left: 355px;
        transform: rotate(1deg);
    }
    80% {
        top: 154px;
        left: 433px;
        transform: rotate(13deg);
    }
    82% {
        top: 184px;
        left: 446px;
        transform: rotate(16deg);
    }
    85% {
        transform: rotate(50deg);
    }
    100% {
        top: 630px;
        left: 465px;
        transform: rotate(67deg);
    }
}
