/**
 * CH01 - Scene Setup
 * CH02 - Global Changes
 * CH03 - Animations
**/

/* -----------------------------------------------*/
/* ---------->>> CH01 - SCENE SETUP <<<-----------*/
/* -----------------------------------------------*/

#castle {
    position: absolute;
    /*height: 600px;*/
    width: 980px;
    z-index: 0;
}

#codepad {
    position: absolute;
    width: 30px;
    left: 562px;
    bottom: 116px;
}

#left-door {
    position: absolute;
    height: 180px;
    left: 416px;
    bottom: 28px;
}

#right-door {
    position: absolute;
    height: 190px;
    left: 466px;
    bottom: 22px;
}

#rick {
    position: absolute;
    height: 200px;
    bottom: 5px;
    left: -20px;
    animation: rick 3s ease 0s 1 normal forwards, goToCodepad 3s ease 7s normal forwards;
}

#dial {
    height: 95px;
    width: 230px;
    left: 100px;
    top: 313px;
    -webkit-border-radius: 60% 60% 1% 60%;
    border-radius: 60% 60% 1% 60%;
    opacity: 0;
    -webkit-animation: fadeIn 0.7s linear 3s 1 normal forwards, fadeOut 0.2s linear 7s 1 normal forwards;
    animation: fadeIn 0.7s linear 3s 1 normal forwards, fadeOut 0.2s linear 7s 1 normal forwards;
}

/* --------------------------------------------------*/
/* ---------->>> CH02 - GLOBAL CHANGES <<<-----------*/
/* --------------------------------------------------*/
.slide-phone-up {
    animation-delay: 10.3s;
    animation-duration: 1.5s;
}

/* ----------------------------------------------*/
/* ---------->>> CH03 - ANIMATIONS <<<-----------*/
/* ----------------------------------------------*/
@-webkit-keyframes rick {
    0% {
        left: -20px;
    }

    5% {
        transform: rotate(10deg);
    }

    85% {
        transform: rotate(5deg);
    }

    95% {
        transform: rotate(0deg);
    }

    100% {
        left: 320px;
    }
}

@keyframes rick {
    0% {
        left: -20px;
    }

    5% {
        transform: rotate(10deg);
    }

    85% {
        transform: rotate(5deg);
    }

    95% {
        transform: rotate(0deg);
    }

    100% {
        left: 320px;
    }
}

@-webkit-keyframes goToCodepad {
    0% {
        left: 320px;
    }

    5% {
        transform: rotate(10deg);
    }

    85% {
        transform: rotate(5deg);
    }

    95% {
        transform: rotate(0deg);
    }

    100% {
        left: 510px;
    }
}

@keyframes goToCodepad {
    0% {
        left: 320px;
    }

    5% {
        transform: rotate(10deg);
    }

    85% {
        transform: rotate(5deg);
    }

    95% {
        transform: rotate(0deg);
    }

    100% {
        left: 510px;
    }
}
