/**
 * CH01 - Characters & Dialog
 * CH02 - Scene Setup
 * CH03 - Animations
**/

/* -------------------------------------------------------*/
/* ---------->>> CH01 - CHARACTERS & DIALOG <<<-----------*/
/* -------------------------------------------------------*/

/* Setting start position for Rick. He will be moved onto the scene when
   neccessary */
#rick {
  position: absolute;
  height: 300px;
  left: -110px;
  -webkit-animation: moveRight 1s linear 0.5s 1 normal forwards;
  animation: moveRight 1s linear 0.5s 1 normal forwards;
}

#snakkeBoble {
  position: absolute;
  height: 40px;
  width: 270px;
  left: 77px;
  top: 293px;
  padding-top: 23px;
  background-color: #fff;
  -webkit-border-radius: 45%;
  border-radius: 60%;
	-webkit-border-bottom-left-radius: 1%;
  border-bottom-left-radius: 1%;
	border:2px solid black;
  opacity: 0;
  -webkit-animation: fadeIn 1s linear 1.5s 1 normal forwards;
  animation: fadeIn 1s linear 1.5s 1 normal forwards;
}
  #snakkeBoble p {
    color: black;
    text-align: center;
    padding-top: 25px;
    margin: -25px;
  }

/* -----------------------------------------------*/
/* ---------->>> CH02 - SCENE SETUP <<<-----------*/
/* -----------------------------------------------*/

#bg {
  width: 100%;
}

#segway {
  position: absolute;
  height: 140px;
  bottom: 80px;
  left: 520px;
}

#tesla {
  position: absolute;
  height: 220px;
  bottom: 55px;
  left: 162px;
}

#gsc {
  position: absolute;
  height: 200px;
  bottom: 45px;
  left: 700px;
}

/* ----------------------------------------------*/
/* ---------->>> CH01 - Animations <<<-----------*/
/* ----------------------------------------------*/
@keyframes moveRight {
  100% {
    left: 0px;
  }
}
