

#rick {
  position: absolute;
  height: 400px;
 bottom: 0px;
  left: 0px;

  transform: rotate(5deg);
  -webkit-animation: moveRight 3s linear 3s 1 normal forwards;
  animation: moveRight 3s linear 3s 1 normal forwards;
    
}
   

#vakthund {
  position: absolute;
    height: 300px;
    left: 0;
    bottom: 0;
    padding-right: 370px;
    
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

    
}

#snakkeboble {
position: absolute;
  height: 80px;
  width: 300px;
  left: 250px;
  top: 153px;
  padding-top: 55px;
    padding-left: 20px;
  background-color: #fff;
    
    
  -webkit-border-radius: 45%;
  border-radius: 60%;
    
    
	-webkit-border-bottom-left-radius: 1%;
  border-bottom-left-radius: 1%;
	border:2px solid black;
  opacity: 0;
  -webkit-animation: fadeIn 1s linear 2s 1 normal forwards;
  animation: fadeIn 1s linear 2s 1 normal forwards;
    
    
}




